Flask
Flask-CORS
Flask-Limiter
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
Jinja2
Mako
MarkupSafe
SQLAlchemy
Werkzeug
alembic
beautifulsoup4
bleach
blinker
boto3
botocore
certifi
charset-normalizer
click
deprecated
dnspython
email-validator
greenlet
gunicorn
idna
itsdangerous
jmespath
limits
markdown
markdown-it-py
mdurl
ordered-set
packaging
psycopg2-binary
pygments
python-dateutil
python-dotenv
python-slugify
redis
requests
rich
s3transfer
six
soupsieve
stripe
text-unidecode
typing-extensions
urllib3
webencodings
wrapt
WTForms