{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/story_new.css') }}">
{% endblock %}

{% block content %}
<div class="alert alert-info mt-5">Please use the edit option from your profile or story page. Editing is now handled per writing type.</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script>
var quill = new Quill('#quill-editor', {
    theme: 'snow',
    modules: {
        toolbar: [
            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
            ['bold', 'italic', 'underline', 'strike'],
            ['blockquote', 'code-block'],
            [{ 'list': 'ordered'}, { 'list': 'bullet' }],
            [{ 'script': 'sub'}, { 'script': 'super' }],
            [{ 'indent': '-1'}, { 'indent': '+1' }],
            [{ 'direction': 'rtl' }],
            [{ 'color': [] }, { 'background': [] }],
            [{ 'font': [] }],
            [{ 'align': [] }],
            ['clean'],
            ['link', 'image', 'video']
        ]
    }
});
// Set initial content
quill.root.innerHTML = {{ form.content.data|tojson|safe }};
// Update form content before submission
var form = document.getElementById('storyForm');
form.onsubmit = function() {
    var contentField = document.getElementById('content-field');
    contentField.value = quill.root.innerHTML;
    return true;
};
</script>
{% endblock %} 